*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}
:root {
    --fondo: #1D3557;
    --fondo2: #aaa7a7;
    --fondo3:#5F7FA3;
    --fuente: poppins, sans-serif;
    --fuente2: 'Roboto', sans-serif;
    --colorcard: #B3C4D8;
    --bold: bold;
    --fontcolor: #17202d;
    }

header{margin: 0;
    padding: 0;
    width: 100%;
    background-color: #5f7fa3;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2em 4em;
}

body{
    margin: 0;
    padding: 0;
    background-color: #5f7fa3;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family:var(--fuente2);
}
h1, h2, h3 {
    font-family: var(--fuente);
    
}
h1 {
    color: white;
    font-size:4rem;
    font-weight: 6000;
    align-items: center ;
}

h2{
    color: white ;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

#sectionnav { 
    display: flex;
    flex-direction:column; /* para que el menu se vea en vertical */
    align-items:center;
    color: white;
    margin-top: 2rem;
}

header nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

nav  a { 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 20px;
    transition:  0.5s ease-out;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

.seleccionado {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    background-color: #B2C1D6	; 
    font-weight: bold;
    box-shadow: #ffffff 0px 0px 15px 5px;
    border-radius:20px;
    justify-content: center;
}

.seleccionado:hover {
    background-color: #535A63;
    color: white;
}

.seleccionado:active {
    background-color: #4E4B45;
    color: white;
}

.boton:hover {
    background-color:#535A63; 
    color: white;
    padding: 10px 25px
}
.boton:active {
    background-color: #4E4B45; 
    color: white;
    padding: 10px 25px
}

#tablamaterias {
    color: white ;
    font-size: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px ;
    align-items: center;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
}

th {
    background-color: rgba(4, 4, 4, 0.441);
    color: #ffffff;
    font-weight:lighter;
}
/* FINAL DE HOME */

/*COMIENZO PARA EL FOOTER*/
footer  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(33, 38, 42, 0.441); /* gris leve con transparencia */
    color: white;
    width: 100%;
    font-size: 1em;
    text-align: center;
    
}

footer div{
    flex: 1 1 300px;
    font-family:var(--fuente2);
}

/*ESTILO PARA AVISOS*/
.avisos {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    gap: 1rem;
}

.containertitle {
    width: 300px;
    background-color: #b3c4d86e;
    padding: 10px;
    border-radius: 8px;
}

.sectiontitle {
    font-family: var(--fuente);
    font-size: 2.2em;
    font-weight: bold;
}

ul .section {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    
}

.section li {
    font-size: 0.6em;
    font-style:italic;
}

a.sitioprofe {
    text-decoration:none;
    color:#64768A
}

a.sitioprofe:hover {
    color: #000000;
}

a.sitioprofe:active {
    color: #51575f;
}

.section {
    font-family: var(--fuente2);
    font-size: 2rem;
    align-items: center;
}

/*ESTILO PARA SOBRE MI*/
main h2 .titleleo {display:flex; 
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
}

main .cardsobremi {
    background-color: var(--colorcard);
    border-radius: 20px;
    padding: 20px;
    width: 80%;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#contenidoimg #imgsobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    
}
#imgsobremi img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#contenidotextosobremi {
    color: black;
    font-size: 1.3em;
    font-family: var(--fuente2);
    margin-top: 2rem;
    text-align: justify;
}

.texto {
    font-weight: var(--bold);
    color: var(--fontcolor);
}

/*ESTILO PARA MATERIAS2025*/

.materias {
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    width: 60%;
    color: white;
    background-color:#b3c4d86e;
    padding: 2rem;
    border-radius: 1em;
}

li.materias1c {
    font-family:var(--fuente);
    font-size: 2rem;
    text-align: center;
    align-items: center;
}

ul #materias25  { 
    color:white;
    text-decoration: none;
    margin-bottom: 20px;
}

li.materias1c {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.botondiseño {
    font-family: var(--fuente);
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.2em;
    background-color: #b4bac3	; 
    font-weight: bold;
    border-radius:20px;
    justify-content: center;
}

.botondiseño:hover {
    background-color: #577296; 
    color: white;
}
.botondiseño:active {
    background-color: #6177EB; 
    color: white;
}


/* COMIENZO DE FORMULARIO */
.boton:hover {
    background-color:#577296
}

.boton:active {
    background-color: #6177EB;
}

form{
    color: white;
    width: 100;            
    height: 50%;          
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight:100;
}

/*ESTILO PARA DISEÑO Y DESARROLLO WEB*/
h3  {
    color: white;
    font-size: 30px;
    margin-top: 35px;
    padding: right 30px;
}
#diseñofecha {
    padding-left: 30px;
}
#parciales {
    text-align: justify;
}

#examenes div p{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#examenes {color: white;
    font-size: 20px;
    text-align: start;
    margin-top: 35px;
    width: 40%;
    justify-content: center;
}
#actividades h3 {
    display: flex;
    
}
#actividades{ color: white;
    font-size: 20px;
    display: flex;
    flex-direction:row-reverse;
}

section h3 p{
    text-align: start;
    padding-left: 50px;
}

#biblio div{display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: start;
    margin-top: 35px;
}

.btnuva {
    display: inline-block;
    padding: 4px 20px;
    font-size: 15px;
    background-color: #B2C1D6	; 
    font-weight: bold;
    box-shadow: #bed4d3 0px 0px 3px 3px;
    border-radius:10px;
    border: black 1px solid;
    align-items: center;
}

.btnuva:hover {
    background-color:#577296; 
}
.btnuva:active {
    background-color: #6177EB; 
}
div a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px;
}


/* ESTILO PARA CONTACTO */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
input, textarea {
    width: 50%;
    padding: 5px;
    margin: 10px 0;
}
label {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
input {
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 20px;
    
}
.btn{
    background-color: #778496;
    color: #000000;
    font-weight: bold;
    box-shadow: #FFEECD 0px 0px 5px 2px;
    border-radius:20px;
    padding: 10px 20px;
    border: none;
    margin-top: 2.5rem;
}
.btn:hover {
    background-color: #6177EB;
    color: #ffffff;
}
.btn:active {
    background-color: #4B5A7F;
    color: #ffffff;
}

.formtext {
    font-family: var(--fuente2);
    color: white;
    font-size: 1.2em;
    text-align: center;
}
/*Responsive */
@media (min-width:720px) {

        h1{
        font-size: 5rem;
        align-items: center;
        text-align: center justify;
    }

    h2, h3 {
        align-items: center;
    }

    main {
        padding: 2em 4em;
        width: 100%;
        align-items: center;
    }
    nav {
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }
    
    table {
        width: 100%;
        align-items: center;  
        font-size: 0.8em ;  
    }

    .avisos {width: 100%;
        justify-content: center;
        text-align: center;
    }

    .materias {
        align-items: center;
    }
    .containertitle {
    width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 1.5rem ;
        padding:  4em 2em;
        background-color: #dfdfdf4f;
        border-radius: 8px;
        margin-top: 0;
    }
    .containertitle ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        
        
    }
    ul.section{
        list-style-type: none;
        text-align: justify;
        font-size: 2em;
    }
    #menu { 
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
    }

    header nav {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 0;
    }

    #imgsobremi{
        width:500px;
    }
    
    #contenidoimg #contenidotextosobremi {
        width: 50%;
        padding: 0px 30px ;
        display: flex;
        flex-direction: row;
    }
    footer {position:fixed;
        bottom: 0;
        width: 100%;
        
    }



}
