*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    

}
:root {
    --fondo: #1D3557;
    --fondo2: #aaa7a7;
    --fondo3:#5F7FA3;
    --fuente: poppins, sans-serif;
    --fuente2: 'Roboto', sans-serif;
    --colorcard: #B3C4D8;
    --bold: bold;
    --fontcolor: #17202d;
    }


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 4rem 4rem;
}

body{
    
    background-color: #5f7fa3;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family:var(--fuente2);
}
h1, h2, h3 {
    font-family: var(--fuente);
    
}

h2{
    color: white ;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
}

div nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem ;
}

nav  a { 
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 1em;
    text-decoration: none;
    border-radius: 20px;
    transition:  0.5s ease-out;
    font-family: poppins, sans-serif;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

.seleccionado {
    display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    background-color: #B2C1D6	; 
    font-weight: bold;
    box-shadow: #ffffff 0px 0px 15px 5px;
    border-radius:20px;
    justify-content: center;
}

.seleccionado:hover {
    background-color: #535A63;
    color: white;
}

.seleccionado:active {
    background-color: #4E4B45;
    color: white;
}

.boton:hover {
    background-color:#535A63; 
    color: white;
    padding: 10px 25px
}
.boton:active {
    background-color: #4E4B45; 
    color: white;
    padding: 10px 25px
}

#tablamaterias {
    color: white ;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    max-width: 100%
}

table {
    border-collapse: collapse ;
    align-items: center;
    font-size: 0.7em;
    margin: 0 auto;
    width: 300px;
}

th, td {
    padding:1rem ;
    text-align: center;
    border: 1px solid #ffffff;
}

th {
    background-color: rgba(4, 4, 4, 0.441);
    color: #ffffff;
    font-weight:lighter;
}
/* FINAL DE HOME */

/*COMIENZO PARA EL FOOTER*/
footer  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(33, 38, 42, 0.441); /* gris leve con transparencia */
    color: white;
    font-size: 1em;
    width: fit-content;

}

footer div{
    flex: 1 1 300px;
    font-family:var(--fuente2);
}

/*ESTILO PARA AVISOS*/
.avisos {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    color: white;
    gap: 2rem;
}

    .containertitle{
        min-width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0.5rem ;
        padding: 3em 1em;
        background-color: #dfdfdf4f;
        border-radius: 3rem;
        gap: 2.5rem;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    #card-dydw { background-image:linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
    ), url(img/programaya.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #card-sist {
        background-image:linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
    ), url(img/Download\ Digital\ business\ image\ with\ graphs\ and\ diagrams\ over\ blue\ background_\ 3d\ rendering\,\ Business\ data\ analysis\ and\ analytics\ of\ customers\,\ for\ free.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #card-mat {
        background-image:linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
    ), url(img/Equação\ Matemática\ Fórmula\ De\ álgebra\ Imagem\ De\ Fundo\ De\ Vídeo\ De\ Educação\ Escolar\ _\ MOV\ baixar\ grátis\ -\ Pikbest.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #card-progra {
        background-image:linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 1)
    ), url(img/Python\ e\ Tecnologia_\ Arte\ Digital\ Futurística\ de\ Programação.jfif);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
.sectiontitle {
    font-family: var(--fuente);
    font-size: 2em;
    font-weight: bold;
}

ul .section {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    
}

.section li {
    font-size: 0.6em;
    font-style:italic;
    list-style: none;
}

a.sitioprofe {
    text-decoration:none;
    color:#dbc3c3
}

a.sitioprofe:hover {
    color: #90c780;
}

a.sitioprofe:active {
    color: #4fcd2f;
}

/*ESTILO PARA SOBRE MI*/

main .cardsobremi {
    background-color: var(--colorcard);
    border-radius: 20px;
    padding: 2rem;
    max-width: 80%;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

#contenidoimg #imgsobremi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
    
}
#imgsobremi img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#contenidotextosobremi {
    color: black;
    font-size: 1.3em;
    font-family: var(--fuente2);
    margin-top: 2rem;
    text-align: justify;
}

.texto {
    font-weight: var(--bold);
    color: var(--fontcolor);
}

/*ESTILO PARA MATERIAS2025*/

.materias {
    display: flex;
    flex-direction: center;
    text-align: center;
    justify-content: center;
    width: 70%;
    color: white;
    background-color:#b3c4d86e;
    padding: 2rem;
    border-radius: 1em;
    /* fondo */
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 50)
    ), url(img/uade-campus-cabajpg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.textomaterias {
    font-family: var(--fuente);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.botondiseño {
    font-family: var(--fuente);
    display: inline-block;
    padding: 2rem 1rem;
    min-width: 100%;
    font-size: 1.5rem;
    background-color: #9ca7b96c	; 
    font-weight: bolder;
    border-radius:20px;
    justify-content: center;
    
}

.botondiseño:hover {
    background-color: #57729680; 
    color: white;
}
.botondiseño:active {
    background-color: #6178eb85; 
    color: white;
}


/* COMIENZO DE FORMULARIO */
.boton:hover {
    background-color:#577296
}

.boton:active {
    background-color: #6177EB;
}



/*ESTILO PARA DISEÑO Y DESARROLLO WEB*/
h1.home {
    font-size: 10px;
}

h3  {
    color: white;
    font-size: 30px;
    margin-top: 35px;
    padding: right 30px;
}
#diseñofecha {
    padding-left: 30px;
}
#parciales {
    text-align: justify;
}

#examenes div p{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#examenes {color: white;
    font-size: 20px;
    text-align: start;
    margin-top: 35px;
    width: 40%;
    justify-content: center;
}
#actividades h3 {
    display: flex;
    
}
#actividades{ color: white;
    font-size: 20px;
    display: flex;
    flex-direction:row-reverse;
}

section h3 p{
    text-align: start;
    padding-left: 50px;
}

#biblio div{display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: start;
    margin-top: 35px;
}

.btnuva {
    display: inline-block;
    padding: 4px 20px;
    font-size: 15px;
    background-color: #B2C1D6	; 
    font-weight: bold;
    box-shadow: #bed4d3 0px 0px 3px 3px;
    border-radius:10px;
    border: black 1px solid;
    align-items: center;
}

.btnuva:hover {
    background-color:#577296; 
}
.btnuva:active {
    background-color: #6177EB; 
}
div a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px;
}


/* ESTILO PARA CONTACTO */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.235); 
    font-family: var(--fuente);
    
}

label {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;

}

input {
    font-family: var(--fuente);
    padding: 20px 10px ;
    min-width: 60%;
}

.btn{
    background-color: #778496;
    color: #000000;
    font-weight: bold;
    box-shadow: #FFEECD 0px 0px 5px 2px;
    border-radius:20px;
    padding: 10px 20px;
    border: none;
    margin-top: 2.5rem;
}
.btn:hover {
    background-color: #6177EB;
    color: #ffffff;
}
.btn:active {
    background-color: #4B5A7F;
    color: #ffffff;
}

.formtext {
    font-family: var(--fuente2);
    color: white;
    font-size: 1.2em;
    text-align: center;
}
/*Responsive */
@media (min-width:500px) {
        

    }




